/* GENERAL */


/* Body */



/* News */

.newspaper {
    border-bottom: 3px solid;
    padding-bottom: 5px;
}

.news-top-title h2 {
    font-size: 50px;
}

.news-bot-title h2 {
    font-size: 20px;
}

.news-padding{
    padding: 7px;
}

.ue-c-cover-content__byline-name,
.news-source{
    font-size: 10px;
}

.hidden-content {
    display: none;
}

.news-img-top {
    width: 100%; 
}

.custom-read-btn {
    position: absolute;
    right: 10px;
    bottom: 60px;
}

/* Footer  */

#footer-logo {
    border-bottom: 1px solid #bcbcbc;
}


@media (min-width: 1200px){
    
    .container{
        max-width: 1020px;
    }
    
}

@media (max-width: 768px){
    
    .news-top-title h2 {
        font-size: 30px;
    }
    
    .news-bot-title h2 {
        font-size: 13px;
    }
    
    .news-custom-title {
        font-size: 18px;
    }
    
}

/* FIN GENERAL */


/* CRUD */

/* Create */



/* Read */

#other-news-title:after {
    content: "";
    display: block;
    border-bottom: 1px solid black;
}

#read .card-body {
    padding: 10px;
}

#read #new-title {
    font-size: 15px;
}

#read #new-body {
    font-size: 14px;
}

/* Update */



/* Delete */



/* FIN CRUD */ 